<div class="col-lg-3 position-fixed sidebar bg-dark text-white p-3">
    <div class="sidebar-header mb-3">
        <h1 class="h3 font-weight-bold">{{ site.title }}</h1>
    </div>
    <div class="sidebar-logo text-center mb-3">
        <img src="path-to-logo.png" alt="Logo" class="rounded-circle" width="128" height="128">
    </div>
    <div class="sidebar-description text-center mb-3">
        <p><em>{{ site.description }}</em></p>
    </div>
    <div class="sidebar-menu mb-3 text-center">
        <button class="btn btn-link text-white"><i class="fas fa-home"></i></button> |
        <button class="btn btn-link text-white menu-button"><i class="fas fa-bars"></i></button>
    </div>
    <div class="sidebar-social text-center">
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-link text-white"><i class="fab fa-facebook"></i></a>
            <a href="#" class="btn btn-link text-white"><i class="fab fa-twitter"></i></a>
            <a href="#" class="btn btn-link text-white"><i class="fab fa-instagram"></i></a>
            <a href="#" class="btn btn-link text-white"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>
<div class="menu-overlay animate__animated animate__fadeIn d-none">
    <div class="menu-content bg-dark text-white p-3">
        <ul class="list-unstyled">
            <li><a href="#" class="text-white">Menu Item 1</a></li>
            <li><a href="#" class="text-white">Menu Item 2</a></li>
            <li><a href="#" class="text-white">Menu Item 3</a></li>
        </ul>
    </div>
</div>