<div class="sidebar bg-secondary p-3" style="width: 300px;">
  <div class="sidebar-header mb-3">
    <h1 class="h4">{{ site.title }}</h1>
  </div>
  <div class="sidebar-logo mb-3 text-center">
    <img src="{{ site.logo }}" class="rounded-circle" width="128" height="128" alt="Logo">
  </div>
  <div class="sidebar-description mb-3 text-center">
    <p class="fst-italic">{{ site.description }}</p>
  </div>
  <div class="sidebar-menu mb-3 text-center">
    <button class="btn btn-outline-light mx-2 animate__animated animate__pulse">
      <i class="fas fa-home"></i>
    </button>
    <button class="btn btn-outline-light mx-2 animate__animated animate__pulse" data-bs-toggle="collapse" data-bs-target="#menuDropdown">
      <i class="fas fa-bars"></i>
    </button>
    <div id="menuDropdown" class="collapse">
      <div class="bg-dark p-3">
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Menu Item 1</a></li>
          <li><a href="#" class="text-light">Menu Item 2</a></li>
          <li><a href="#" class="text-light">Menu Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sidebar-social mb-3">
    <div class="d-grid gap-2 d-md-block">
      <a href="#" class="btn btn-outline-light"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="btn btn-outline-light"><i class="fab fa-twitter"></i></a>
      <a href="#" class="btn btn-outline-light"><i class="fab fa-instagram"></i></a>
      <a href="#" class="btn btn-outline-light"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
      </div>
