body {
    background-color: #121212;
    color: #ffffff;
}

.sidebar {
    width: 300px;
    height: 100vh;
}

.content {
    margin-left: 330px;
}

.post {
    width: 500px;
    margin: 0 auto;
}

.post-image img {
    max-height: 680px;
    object-fit: cover;
    width: 100%;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content {
    max-width: 400px;
    width: 100%;
}